DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ project_name }}',
        'USER': '{ { postgres_user } }',
        'PASSWORD': '{ { postgres_password } }',
        'HOST': 'localhost',
        'PORT': '{ { postgres_port } }',
    }
}

ALLOWED_HOSTS = ['{ { host } }']
